*{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

 .navbar-nav > li > a{
    padding: 5px 5px 3px 5px;
	color: #c5c2be;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;	
}

 .navbar-nav:nth-of-type(1) > li > a
{
	margin-left: 50px;
}
 .navbar-right > li:last-of-type
{
	margin-right: 50px;
	margin-top: -5px;

}

.navbar-right > li > a{
	margin-right: 15px;
}
.navbar-nav > li > a:hover{
    
	color: white;
	background-color:#1b1b1b;
}
.navbar-right{
	margin-right:15px;
}
 .navbar {
	
    border-radius: 0px;
	background-color: #1b1b1b;
	min-height:28px !important;
	margin-bottom:10px;
}
header {
	margin-top: 0px;
	text-align: center;
	width: 100%;
}
header img{
	width:380px;
	height: 85px;
	margin-bottom:7px;
}
#nav ul.navbar-nav li a {
 font-size: 23px;
 font-weight: 300;
 color: #292827;
 padding: 12px 50px 11px 50px;
}
#nav ul.navbar-nav li a:hover {
 
 color: white;
background-color: #1b1b1b;
}
#nav {
	height: 45px;
	width: 100%;
	border-width: 1px;
	border-style:  solid;
	border-color: #aaaaaa white #aaaaaa white;
	text-align: center;
}

 .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
 .navbar-centered .navbar-nav > li {
        float: none;
    }
 .navbar-centered .nav > li {
        display: inline;
    }
 .navbar-centered .nav > li > a {
        display: inline-block;
    }
 #nav .navbar-nav:nth-of-type(1) > li > a
{
	margin-left: 0px;
}



.carousel-inner{
  width:100%;
  height: 600px;
  margin-top: 0px;
}
.item{
	width: 100%;
	position: relative;
	height: 600px;

}
.item  div{
	position: absolute;
	top: 50%;
	--webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.item p{
	color: white;
}

.carousel, .item, .active {
	width: 100%;
}
.encima{
	position: absolute;
	top: 290px;
	left: 50px;
	width: 400px;
	height: 3.9em;
	text-align: left;
	padding-left:15px;
	padding-right:15px;
	font-family: 'Raleway', sans-serif;
}
.encima h4{
	display: inline-block;
	margin-top: 13px;
	font-size: 23px;
	color: #ededf4;
	font-weight: 300;
	line-height: 3px;
}
.encima h2{
	display: inline-block;
	font-size: 55px;
	font-weight: 700;
	color: #ffffff;
	line-height: 10px;
}
.encima h1{
	display: inline-block;
	font-size: 85px;
	font-weight: 700;
	color: #ffffff;
	line-height: 28px;
}
.encima h3{
	display: inline-block;
	color: #d6d6de;
	font-weight: 300;
	font-size: 55px;
	line-height: 15px;
}
.encima button{
	font-size: 15px;
	margin-top: 10px;
	background-color: rgba(0,0,0,0.58);
	color: #d3d3d4;
	border: none;
	padding: 6px 20px 6px 20px;
}
.encima-2{
	position: absolute;
	top: 70px;
	left: 830px;
	width: 500px;
	height: 3.9em;
	text-align: left;
	padding-left:15px;
	padding-right:15px;
	font-family: 'Raleway', sans-serif;
}
.encima-2 h4{
	display: inline-block;
	margin-top: 13px;
	font-size: 20px;
	color: #0b0b0c;
	font-weight: 300;
	line-height: 3px;
}
.encima-2 h2{
	display: inline-block;
	font-size: 45px;
	font-weight: 700;
	color: #3e3e43;
	line-height: 10px;
}

.encima-2 h3{
	display: inline-block;
	color: #747477;
	font-weight: 300;
	font-size: 55px;
	line-height: 15px;
}
.encima-2 button{
	font-size: 15px;
	margin-top: 10px;
	background-color: rgba(255,255,255,0.1);
	color: #0b0b0c;
	border: 1px solid #a59d81;
	padding: 6px 20px 6px 20px;
}
#categoria{
	
}